<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cat.uab.pfc.agp.helpdeskmanager"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="17" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="cat.uab.pfc.agp.helpdeskmanager.LoginActivity"
            android:label="@string/app_name"
            android:windowSoftInputMode="adjustResize|stateVisible" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity"
            android:label="@string/title_activity_llista_incidencies" >
        </activity>
        <activity
            android:name="cat.uab.pfc.agp.helpdeskmanager.DetallIncidenciaActivity"
            android:label="@string/title_activity_detall_incidencia"
            android:parentActivityName="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity" />
        </activity>
        <activity
            android:name="cat.uab.pfc.agp.helpdeskmanager.GuiaActivity"
            android:label="@string/title_activity_guia"
            android:parentActivityName="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity" />
        </activity>
        <activity
            android:name="cat.uab.pfc.agp.helpdeskmanager.FAQActivity"
            android:label="@string/title_activity_faq"
            android:parentActivityName="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="cat.uab.pfc.agp.helpdeskmanager.LlistaIncidenciesActivity" />
        </activity>
        <activity
            android:name="cat.uab.pfc.agp.helpdeskmanager.NovaIncidenciaActivity"
            android:label="@string/title_activity_nova_incidencia" >
        </activity>
    </application>

</manifest>